* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(176, 190, 190, 0.658);
}
nav {
  display: flex;
 
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
  padding: 5px;
  box-shadow: 1px 2px 10px 7px;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

nav .hamburger {
  color: white;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

nav .closeMenu {
  color: white;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.logo {
  padding: 5px 0px 0px 10px;
  text-align: center;
  color: white;
  font-family: "Akaya Telivigala", cursive;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  padding: 10px;
}

.nav-link:hover {
  color: #4b86c2;
  border-bottom: 1px solid #464a4e;
  padding-bottom: 5px;
}

.socials {
  display: flex;
  padding-right: 20px;

}

.social-link {
  color: white;
  padding-left: 10px;
  padding-top: 2px;
}

.instagram:hover {
  color: #833ab4;
}

.facebook:hover {
  color: #0f5bff;
}

.github:hover {
  color: #bd2c00;
}

.linkedin:hover {
  color: #86888a;
}

@media(max-width: 800px) {
  nav .navbar {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1s ease-in-out;
    display: none;
  }

  nav .navbar .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .hamburger {
    display: block;
    padding-right: 10px;
  }

  nav .nav-link {
    padding: 10px;
    font-size: 1.6rem;
  }

  nav .nav-link:hover {
    padding: 10px;
    border-bottom: 0px;
  }

  .social-link {
    font-size: 1.2rem;
  }
}

/* home section css */
.home-content {
  display: flex;
  width:100%;
position:relative;
}

.home {
  display: flex;
  color: rgb(255, 255, 255);
  min-height: 500px;
  font-family: "Noto Sans JP", sans-serif;
  width:100%;
  
}

.home .name {

  padding: 150px 80px;
  margin: auto 0 auto 40px;
}
.circle{
  border-radius: 50%;
  background-color:#37405f1f;
  height: 450px;
  width:450px;
  position: relative;
  box-shadow: 2px 4px 30px 6px #37405f7e;
}
.circle:hover{
  background-color:#2a33532d;
}
.circleMedium{
  height:200px;
  width:200px;
  border-radius: 50%;
  background-color:#4364da1f;
  position:absolute;
  z-index: -2;
  top:0;
  left:0;
}
.circleSmall{
  height:80px;
  width: 80px;
  background-color:#122a817a;
  z-index: -3;
  border-radius:50%;
  bottom:56px;
  right:4px;
  position:absolute;
}
.text {
  position:absolute;
  font-size: 30px;
  font-family: 'Akaya Telivigala', cursive;
  color:#4b86c2;
  top:105px;
  left:60px;
}

.text-2 {
  position:absolute;
  font-size: 60px;
  font-weight: 600;
  margin-left: -3px;
  font-family: 'Akaya Telivigala', cursive;
  color:#4b86c2;
  top:140px;
  left:30px;
}

.text-3 {
  position:absolute;
  font-size: 40px;
  margin: 5px 0;
  font-family: 'Akaya Telivigala', cursive;
  color:#4b86c2;
  top:228px;
  left:30px;
}

.job {
  color: #37405f;
  
}

.image {
  display: flex;
  justify-content: center;
 width:70%;
}

.photo {
  height: 400px;
  align-self: center;
  margin:auto;
  border-radius:20%;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 7px 5px 10px -6px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 7px 5px 10px -6px rgba(0, 0, 0, 0);
}

@media (max-width:1100px) {
  .home {
    height: auto;
    padding-bottom: 10px;
    
  }
  .home-content{
    flex-direction: column;
  }
  .image {
    margin: auto;
    padding-bottom: 40px;
  }
  
  .photo {
    max-width: 100%;
    height: auto;

  }
  .home .name {
    padding: 150px 0px;
    margin: auto 0 auto 40px;
    display:flex;
    justify-content:center;
}
.circle {
  width: 420px;
}
  .text {
    font-size: 30px;
  }
  
  .text-2 {
    font-size: 52px;
    font-weight: 600;
    margin-left: -3px;
    font-family: 'Akaya Telivigala', cursive;
  }
  
  .text-3 {
    font-size: 36px;
    margin: 5px 0;
    font-family: 'Akaya Telivigala', cursive;
  }
  
}
@media (max-width:320px){

  .home .name{
    padding: 114px 40px;
  }
  .text{
    font-size:19px;
  }
  .text-2{
    font-size:22px;
  }
  .text-3{
    font-size:18px;
  }
  .image{
    position: relative;
    top: -45px;
  }
}
/* Home section end */
/* circles */
.circleOne {
  width: 400px;
  height: 400px;
  z-index: -2;
  border-radius: 50%;
  position:absolute;
  background-color:rgba(51, 51, 163, 0.356);
  top: 55%;
  left: 50%;
}
.circleTwo{
  width:350px;
  height: 350px;
  z-index: -3;
  border-radius: 50%;
  position:absolute;
  background-color:rgba(51, 131, 163, 0.562);
  top: 3%;
  left: 68%;
}
.circleThree{
  width:300px;
  height:300px;
  z-index: -2;
  border-radius: 50%;
  position:absolute;
  background-color:rgba(7, 39, 88, 0.164);
  top:0;
  left:0;
}
.circleFour{
  width:420px;
  height:420px;
  z-index: -2;
  border-radius: 50%;
  position:absolute;
  background-color: rgba(137, 43, 226, 0.178);
  top:0;
  left:20%;
}
.circleFive{
  width:370px;
  height:370px;
  z-index: -2;
  border-radius: 50%;
  position:absolute;
  background-color: #0fc7ff3a;
  top:-150%;
  left:65%;
}
.circleSix{
  width:350px;
  height:350px;
  z-index: -2;
  border-radius: 50%;
  position:absolute;
  background-color: #0fff6b3a;
  top:80%;
  left:2%;
}
.circleSeven{
  width:250px;
  height:250px;
  z-index: -2;
  border-radius: 50%;
  position:absolute;
  background-color: #0f33ff3b;
  top:160%;
  left:59%;
}
.circleEight{
  width:470px;
  height:470px;
  z-index: -2;
  border-radius: 50%;
  position:absolute;
  background-color: #eb0fff1a;
  top:0%;
  left:0%;
}
.circleNine{
  width:300px;
  height:300px;
  z-index: -2;
  border-radius: 50%;
  position:absolute;
  background-color: #0fefff44;
  top:-25%;
  left:74%;
}
.circleTen{
  width: 100px;
  height:100px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(92, 216, 177, 0.356);
  top:-12%;
  left:40%;
  
}
@media (max-width:1100px){
.circleOne{
  display:none;
}
.circleTwo{
  display:none;
}
.circleThree{
  width:150px;
  height:150px;
}
.circleFour{
left:10%;
}
.circleFive{
  display:none;
}
.circleSeven{
  display:none;
}
.circleEight{
  width:330px;
  height:330px;
  top:-14%;
}
.circleNine{
  display:none;
}
.circleTen{
  display:none;
}
}
/* About section start */
.about {
  width:100%;
  padding:30px 20px;
}

.about-content {
  display: flex;
  padding-top: 60px;
  padding-bottom:30px;
  position:relative;
}

.about-title {
  text-align: center;
  color:#4b86c2;
  padding: 20px;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Akaya Telivigala', cursive;
}

.about-text {
  color:#4b86c2;
  margin-left:20px;
}

.about-photo {
  max-width: 100%;
  height: auto;
}

.download {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 4px;
  border-radius: 5px;
}
.dropdown-divider{
  margin:10px;
}

.download:hover {
  color: white;
  border: 2px solid white;
}
.hobbies-title{
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
}
.hobbies{
  list-style:none;
}
@media (max-width:800px) {
  .about{
    height:auto;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    padding:20px;
  }

  .about-text {
    align-self: center;
    width: auto;
  }
.image-col{
  align-self: center;
}
  .about-photo {
    max-width: 100%;
    height: auto;
    
  }
}
/* education  section*/
.education-content{
  position: relative;
}
.education-title{
  text-align: center;
  color:#4b86c2;
  padding-bottom:15px;
 
  font-family: 'Akaya Telivigala', cursive;
}
table{
 width:100%;
 
}
table tr{
  text-align:center;
  color:#4b86c2;
  
}
table th{
  padding-bottom:5px;
 
}
table td{
  padding-bottom:10px;
 
}
@media (max-width: 800px){
  table{
    font-size: 14px;
  }
}
/* skills section start */
.skills{
  width:100%;
  padding:10px 20px;
}
.skills-title{
  text-align: center;
  color:#4b86c2;
  padding:20px;
  font-family: 'Akaya Telivigala', cursive;
}
.skills-content{
  position: relative;
  display: flex;
  margin-top:30px;
  color:#4b86c2;
}
.skills-content .card{
  margin-bottom:20px;
}
.skills-text{
  font-size:18px;
  padding:10px;
  font-weight: 1000;
  color:#4b86c2;
}
.progress{
  margin:10px;
}
.progress-bar{
  color:black;
  font-size: 14px;
}
.languages-title{
  text-align: center;
  text-decoration:underline;
}
@media (max-width: 800px){
  .skills{
    height:auto;
  }
  .skills-content{
    flex-direction: column;
    margin-top:20px;
  }
  .col-6{
    width:100%;
    margin-bottom: 20px;
  }
}
/* services section */
.services-title{
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
  color:#4b86c2;
}
.container-services {
   display:flex;
 
}
.service{
  border:2px solid rgb(63, 174, 189);
  border-radius:10%;
  background-color:rgb(63, 174, 189);
  margin:10px 5px;
  color:whitesmoke;
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.service:hover{
  border:2px solid rgb(14, 92, 102);
  background-color:rgb(14, 92, 102);
}
.service-name{
  text-align: center;
}
.service-icon{
  color:rgb(63, 174, 189);
  margin:10px 5px;
  align-self: center;
  background-color:whitesmoke;
  border-radius: 50% ;
  border:1px solid rgb(63, 174, 189);
}
.textService{
  text-align: center;
  margin:10px;
}
@media screen and (max-width:700px){
  .container-services{
    flex-direction: column;
  }
}
/* portfolio section */
.img-portfolio{
  max-width:100%;
  border-radius:5px;
  height:auto;
  display:block;
  padding-left:20px;
  padding-top:10px;
  filter: drop-shadow(2px 4px 8px #585858);
  

}
.portfolio-content{
  position: relative;
  display:flex;
  padding-bottom:20px;
 
}
.portfolio-title{
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
  color:#4b86c2;
}
.work-title{
  color:#4b86c2;
  padding-top:20px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
}
@media (max-width: 800px){
  .portfolio-content{
    flex-direction: column;
  }
}
/* contact section */
.contact{
  
  width:100%;
 padding:10px 30px 20px 30px;
}
.contact-content{
  position: relative;
  padding-top:60px;
  display:flex;
  padding-bottom:40px;
  height:100%;
  color:#4b86c2;
}
.contact-title{
  text-align: center;
  padding:20px;
  color:#4b86c2;
  font-family: 'Akaya Telivigala', cursive;

}
.emailMe{
  color:#4b86c2;
  text-decoration: none;
}
.card{
  
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

input.invalid{
  border:1px solid red;
}
textarea.invalid{
  border: 1px solid red;
}
.error-hint{
  color:red;
}
.hidden{
 display:none;
}
.form-control{
  display:flex;
  flex-direction: column;
  border:0px;
}
.form-control label{
  color:#4b86c2;
}
.form-control input{
  width:100%;
}
.contact-me-title{
  text-align: center;
  margin:10px;
}
::placeholder {
  color:#4b86c2;
  padding-left:2px;
}
.nameInput{
  margin-top:5px;
  border-radius:4px;
  padding-left:2px;
  border: 1px solid #4b86c2;
}
.textArea:focus, .nameInput:focus{
  outline: none;
  border: 1px solid #16406b;
  color:#1a71c7;
}
.textArea{
  margin-top:2px;
  height:10rem;
  padding-left:2px;
  border: 1px solid #4b86c2;
  border-radius:5px;
}
.submit{
  float:right;
  margin:10px;
}
.info-title{
  color:#4b86c2;
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
}
.info-list{
  list-style: none;
  padding-left:40px;
}
.info-element{
  color:#4b86c2;
  padding:5px;
}
.fas, .far{
  padding:10px;
}
.alert{
  text-align: center;
  padding:10px;
  background: #79c879;
  color:white;
  margin-bottom:10px;
  display:none;
}
@media (max-width: 800px){
  .contact{
    height: auto;
  }
  .contact-content{
    flex-direction:column;
    padding-top:5px;
  }
 .col-5{
   width:100%;
 }
 .info-title{
   text-align: center;
 }
 .info-list{
   align-self: center;
 }
 .col-7{
   width:100%;
   margin-bottom:20px;
 }
}

/* footer */
#footer{
  background-color:black;
  height:auto;
  display:flex;
  box-shadow: 0px 10px 5px black, 0px -10px 5px rgba(17, 17, 17, 0.795);

}
.col-4{
  margin-top:20px;
}
.links{
  display:flex;
  flex-direction: column;
  
}
.footer-title{
  text-align: center;
  color:whitesmoke;
 padding-left:30px;

}
.footerList{
  list-style-type: none;
}
.footerEl{
  text-align: center;
  margin:15px;
}
.navLink{
  color:whitesmoke;
  text-decoration: none;
  
}
.navLink:hover{
  color:#4b86c2;
}
.facebookFooter:hover{
  color: #0f5bff;
}
.instagramFooter:hover{
  color: #833ab4;
}
.githubFooter:hover{
  color: #bd2c00;
}
.linkedinFooter:hover{
  color: #86888a;
}
.footerTextFirst{
  font-size:18px;
  text-align:center;
  color:whitesmoke;
  margin-top:30px;
}
.footerText{
  font-size:18px;
  text-align:center;
  color:whitesmoke;
}
@media (max-width: 600px){
  .footer-title{
    font-size: 16px;
    padding-left:10px;
  }
 
  .footerEl{
    font-size:14px;
  }
  .footerTextFirst, .footerText{
    font-size:14px;
  }
  .footerList{
    padding-left:5px;
  }
}


@media screen and (max-width:500px){
  .home .name{
    margin: auto 0 auto 10px;
  }
  .circle{
    height: 396px;
  
  }
  .circleFour{
    width:auto;
  }
  .circleSix{
    width: 200px;
    height:200px;
  }
  .text{
    font-size: 26px;
  }
  .text-2 {
    font-size: 42px;
  }
  .text-3 {
    font-size: 27px;
    margin: 0px;
  }
}
@media screen and (max-width:320px){
  .home .name{
    margin: auto 0 auto 10px;
  }
  .circle{
    height: 367px;
    width: 400px;
  
  }
  .circleFour{
    width:auto;
  }
  .circleSix{
    width: 200px;
    height:200px;
  }
  .text{
    font-size: 20px;
  }
  .text-2 {
    font-size: 30px;
  }
  .text-3 {
    font-size: 27px;
    margin: 0px;
  }
  .circleEight{
    width: 290px;
  }
}